.icon-close {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
}

.icon-close::before,
.icon-close::after {
  content: "";
  top: -1px;
  width: 135%;
  height: 3px;
  background-color: var(--color-zero);
  border-radius: 2px;
  position: absolute;
}

.icon-close::before {
  left: 2px;
  transform: rotate(46deg);
  transform-origin: top left;
}

.icon-close::after {
  right: 2px;
  transform: rotate(-46deg);
  transform-origin: top right;
}

.icon-close > .content {
  display: inline-block;
  text-indent: -99999px;
}
