.board {
  padding: 15px;
}

.hashTag {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.hashTag > .item {
  display: flex;
  justify-content: center;
}

.hashTag > .item:nth-child(2),
.hashTag > .item:nth-child(4),
.hashTag > .item:nth-child(8) {
  justify-content: space-between;
}

.hashTag > .item:nth-child(4) {
  flex-direction: column;
}

.hashTag > .item:nth-child(2)::before,
.hashTag > .item:nth-child(2)::after,
.hashTag > .item:nth-child(4)::before,
.hashTag > .item:nth-child(4)::after,
.hashTag > .item:nth-child(8)::before,
.hashTag > .item:nth-child(8)::after {
  content: "";
  width: 4px;
  height: 100%;
  background-color: red;
}

.hashTag > .item:nth-child(2)::before,
.hashTag > .item:nth-child(2)::after,
.hashTag > .item:nth-child(8)::before,
.hashTag > .item:nth-child(8)::after {
  width: 4px;
  height: 100%;
}

.hashTag > .item:nth-child(4)::before,
.hashTag > .item:nth-child(4)::after {
  width: 100%;
  height: 4px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.hashTag > .item:nth-child(2)::before,
.hashTag > .item:nth-child(2)::after {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.hashTag > .item:nth-child(5) {
  border: 4px solid red;
}

.hashTag > .item:nth-child(8)::before,
.hashTag > .item:nth-child(8)::after {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
